:root {
  --body-color: #fafafa;
  --color-border: #000;
  --color-text: #646464;
  --section-gap: 160px;
}

@font-face {
  font-family: 'tajawal-black';
  src: url(../fonts/Tajawal-Black.ttf);
}
@font-face {
  font-family: 'tajawal-bold';
  src: url(../fonts/Tajawal-Bold.ttf);
}
@font-face {
  font-family: 'tajawal-extraBold';
  src: url(../fonts/Tajawal-ExtraBold.ttf);
}
@font-face {
  font-family: 'tajawal-light';
  src: url(../fonts/Tajawal-Light.ttf);
}
@font-face {
  font-family: 'tajawal-extraLight';
  src: url(../fonts/Tajawal-ExtraLight.ttf);
}
@font-face {
  font-family: 'tajawal-regular';
  src: url(../fonts/Tajawal-Regular.ttf);
}
@font-face {
  font-family: 'tajawal-medium';
  src: url(../fonts/Tajawal-Medium.ttf);
}
