@import './base.css';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--body-color);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  font-family: 'tajawal-regular';
  color: var(--color-text);
}
.ar {
  direction: rtl;
}
button,
a {
  cursor: pointer;
}
button,
input {
  outline: none;
}
a {
  text-decoration: none;
  color: var(--color-text);
}

/* ******************************************************* */
/* style for input number */
input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  position: relative;
  width: 100%;
  height: 100%;
}
.number-input svg {
  width: 0.6rem;
  height: 0.6rem;
  z-index: 10;
  position: absolute;
  left: 1rem;
  cursor: pointer;
}
.number-input svg:first-of-type {
  top: 0.5rem;
  transform: rotate(90deg);
}
.number-input svg:last-of-type {
  bottom: 0.5rem;
  transform: rotate(-90deg);
}
/* ******************************************************* */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292971;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ******************************************************* */
/* btns styles */
.btn-primary {
  background-color: #3361ff;
  border: none;
  border-radius: 0.5rem;
}
.btn-secondary {
  background-color: #e2e3e5;
  border: none;
  border-radius: 0.5rem;
  color: #707070;
}
/* responsive for labtop screens */
@media (max-width: 1550px) {
  .btn-primary {
    font-size: 0.85rem;
  }
  .btn-secondary {
    font-size: 0.85rem;
  }
}
/* ******************************************************* */
/* modal styles */
.modal-content {
  border-radius: 0.7rem;
}
.big-modal {
  min-width: 40%;
  width: 40%;
}
.modal-header {
  background-color: #fafbfc;
  border: none;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  margin-bottom: 1rem;
}
.modal-header .btn-close {
  margin-left: unset;
  margin-right: auto;
  background-color: #fff;
  border-radius: 50%;
  font-size: 0.6rem;
}
.modal-header .modal-title {
  color: #6b7a99;
  font-size: 0.95rem;
}
.modal-body {
  margin-bottom: 2rem;
}
.two-modal {
  min-width: 70%;
  width: 70%;
}
.two-modal .modal-content {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
}
.two-modal .modal-content .modal-body {
  margin-bottom: 0;
}
.two-modal .modal-content > div {
  background-color: #fff;
  border-radius: 0.7rem;
}
.two-modal .modal-content .first-modal {
  width: 36%;
}
.two-modal .modal-content .sec-modal {
  width: 62%;
}
/* responsive for labtop screens */
@media (max-width: 1550px) {
  .modal-content {
    border-radius: 0.5rem;
  }
  .big-modal {
    min-width: 50%;
    width: 50%;
  }
  .modal-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .modal-header .btn-close {
    font-size: 0.5rem;
  }
  .modal-header .modal-title {
    font-size: 0.9rem;
  }
  .modal-body {
    margin-bottom: 1rem;
  }
  .two-modal {
    min-width: 70%;
    width: 70%;
  }
  .two-modal .modal-content .first-modal {
    width: 37%;
  }
  .two-modal .modal-content .sec-modal {
    width: 61%;
  }
}

/* ******************************************************* */
/* input style */
.input {
  margin-bottom: 1.5rem;
}
.input label {
  display: block;
  color: #000;
  margin-bottom: 0.5rem;
}
.input label span {
  color: red;
  font-size: 0.7rem;
}
.input input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #bce0fd;
  border-radius: 0.5rem;
  background-color: #f1f9ff;
}
.input textarea {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #bce0fd;
  border-radius: 0.5rem;
  background-color: #f1f9ff;
  min-height: 8rem;
}
.input .dropdown-toggle {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #bce0fd;
  border-radius: 0.5rem;
  background-color: #f1f9ff;
  text-align: right;
  position: relative;
}
.input .dropdown-toggle::after {
  display: none;
}

.input .dropdown-menu {
  border: none;
  padding: 0 !important;
  width: 100%;
  text-align: right;
  background-color: #fff;
  box-shadow: 1px 1px 2px #e7e7e7, -1px -1px 2px #e7e7e7;
  max-height: 10rem;
  overflow: auto;
}
.input .dropdown-menu li {
  border-bottom: 1px solid #eeeeee;
  padding: 0.3rem;
}
.input .date-input {
  position: relative;
  width: 100%;
  height: 100%;
}
.input .date-input svg {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
/* responsive for labtop screens */
@media (max-width: 1550px) {
  .input {
    margin-bottom: 1rem;
  }
  .input label {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
  }

  .input input {
    padding: 0.4rem;
    border: 1px solid #bce0fd;
    border-radius: 0.3rem;
  }
  .input textarea {
    padding: 0.4rem;
    border: 1px solid #bce0fd;
    border-radius: 0.3rem;
    min-height: 6rem;
  }
  .input .dropdown-toggle {
    padding: 0.4rem;
    border: 1px solid #bce0fd;
    border-radius: 0.3rem;
  }

  .input .dropdown-menu {
    max-height: 7rem;
  }
  .input .dropdown-menu li {
    padding: 0.1rem;
    font-size: 0.9rem;
  }
}

/* ******************************************************* */
/* alwan-table */
.alwan-table {
  width: 75%;
  border: 2px solid #e7e7e7;
  margin: 1rem auto;
  border-radius: 0.7rem;
}
.big-table {
  width: 90%;
}
.full-table {
  width: 100%;
}
.alwan-table .head-1 {
  background-color: #fafafa;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.alwan-table .head-1 > p {
  font-size: 1.1rem;
}
.alwan-table .head-1 div button {
  background-color: transparent;
  border: none;
}
.alwan-table .head-1 div button svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
.alwan-table .head-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.alwan-table .head-2 .sort button {
  background-color: transparent;
  border: none;
}
.alwan-table .head-2 .sort button span {
  font-size: 1.1rem;
  margin: 0 0.5rem;
}
.alwan-table .head-2 .sort button svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.alwan-table .head-2 .search {
  width: 45%;
}
.alwan-table .head-2 .search > div {
  position: relative;
  background-color: #f1f5fe;
  width: 100%;
  padding: 0.8rem;
  border-radius: 3rem;
}
.alwan-table .head-2 .search > div input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  outline: none;
}
.alwan-table .head-2 .search > div input::placeholder {
  color: #adb8cc;
}
.alwan-table .head-2 .search > div svg {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.alwan-table .head-2 .order {
  display: flex;
  align-items: center;
}
.alwan-table .head-2 .order button {
  background-color: transparent;
  border: none;
  margin-right: 1rem;
  padding: 0.1rem 0.4rem;
  border-radius: 0.4rem;
}
.alwan-table .head-2 .order button svg {
  width: 1.5rem;
  height: 1.5rem;
}
.alwan-table .head-2 .order button.active {
  background-color: #bdccff;
}
.alwan-table .head-2 .order button.active svg {
  width: 1rem;
  height: 1rem;
}
.alwan-table .head-2 .order button.active svg path {
  fill: rgba(51, 97, 255, 0.8) !important;
}
.alwan-table table {
  width: calc(100% - 4rem);
  margin: 0rem 2rem;
  border-spacing: 1rem;
  border-collapse: separate;
}
.alwan-table table th {
  font-size: 1.1rem;
  padding: 0.6rem;
}
.alwan-table table tr {
  box-shadow: 0px 2px 0px #eff1f5, 0px -2px 0px #eff1f5;
}
.alwan-table table td {
  font-size: 1.05rem;
  padding: 0.5rem;
}
.alwan-table .thead {
  box-shadow: none !important;
}
.alwan-table .note {
  color: #0094f6;
}
.alwan-table .link a {
  background-color: #0094f6;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
}
.alwan-table .link a svg {
  transform: rotate(-90deg);
  margin-right: 0.3rem;
  width: 0.6rem;
  height: 0.6rem;
}
.alwan-table .more .dropdown-toggle::after {
  display: none;
}
.alwan-table .more .dropdown-menu {
  border: none;
  padding: 0 !important;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 2px #e7e7e7, -1px -1px 2px #e7e7e7;
}
.alwan-table .more .dropdown-menu li {
  border-bottom: 1px solid #eeeeee;
  padding: 0.3rem;
}
.alwan-table .more .dropdown-menu li .delete {
  color: #ff0000;
}
.alwan-table .pagination {
  margin: 0rem auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alwan-table .pagination > div.steps {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.alwan-table .pagination > div.steps button {
  background-color: transparent;
  border: none;
}
.alwan-table .pagination > div.steps button svg {
  transform: scale(1.1);
}
.alwan-table .pagination > div.steps button:last-of-type {
  transform: rotate(180deg);
}
.alwan-table .pagination > div.steps span {
  margin: 0 0.6rem;
  background-color: #f1eded;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alwan-table .pagination > div.dropdown .dropdown-toggle {
  border: 1px solid #0094f680;
  color: #0094f6;
  display: flex;
  border-radius: 0;
}
.alwan-table .pagination > div.dropdown .dropdown-toggle::after {
  display: none;
}
.alwan-table .pagination > div.dropdown .dropdown-toggle .icons {
  width: 1rem;
  height: 1.1rem;
  display: block;
  position: relative;
  margin-left: -0.3rem;
  margin-top: 0.15rem;
  margin-right: 1rem;
}
.alwan-table .pagination > div.dropdown .dropdown-toggle .icons svg:first-of-type {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
.alwan-table .pagination > div.dropdown .dropdown-toggle .icons svg:last-of-type {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}
.alwan-table .pagination > div.dropdown .dropdown-menu {
  min-width: 100%;
  text-align: center;
  max-height: 13rem;
  overflow: auto;
}
/* responsive for labtop screens */
@media (max-width: 1550px) {
  /* alwan-table */
  .alwan-table {
    width: 80%;
    border: 1px solid #e7e7e7;
    margin: 0.5rem auto;
    border-radius: 0.6rem;
  }
  .big-table {
    width: 95%;
  }
  .full-table {
    width: 100%;
    margin: 1rem 0;
  }
  .alwan-table .head-1 {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    padding: 0.8rem 1.5rem;
  }
  .alwan-table .head-1 > p {
    font-size: 0.9rem;
  }

  .alwan-table .head-1 div button svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.6rem;
  }
  .alwan-table .head-2 {
    padding: 0.8rem 1.5rem;
  }

  .alwan-table .head-2 .sort button span {
    font-size: 0.95rem;
  }
  .alwan-table .head-2 .sort button svg {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  .alwan-table .head-2 .search > div {
    padding: 0.6rem;
  }
  .alwan-table .head-2 .search > div input {
    font-size: 0.9rem;
  }
  .alwan-table .head-2 .search > div input::placeholder {
    color: #adb8cc;
  }
  .alwan-table .head-2 .search > div svg {
    left: 1rem;
    width: 0.9rem;
    height: 0.9rem;
  }

  .alwan-table .head-2 .order button {
    margin-right: 0.7rem;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
  }
  .alwan-table .head-2 .order button svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  .alwan-table table {
    width: calc(100% - 1rem);
    margin: 0rem 1rem;
    border-spacing: 0.6rem;
  }
  .alwan-table table th {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  .alwan-table table tr {
    box-shadow: 0px 1px 0px #eff1f5, 0px -1px 0px #eff1f5;
  }
  .alwan-table table td {
    font-size: 0.85rem;
    padding: 0.4rem;
  }
  .alwan-table .link a {
    padding: 0.2rem 0.8rem;
    border-radius: 0.6rem;
    font-size: 0.85rem;
  }
  .alwan-table .link a svg {
    width: 0.5rem;
    height: 0.5rem;
  }
  .alwan-table .more .dropdown-toggle svg {
    width: 1rem;
    height: 1rem;
  }
  .alwan-table .more .dropdown-menu li {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  .alwan-table .pagination > div.steps button svg {
    transform: scale(0.9);
  }

  .alwan-table .pagination > div.steps span {
    margin: 0 0.5rem;
    width: 2rem;
    height: 2rem;
  }
  .alwan-table .pagination > div.dropdown .dropdown-toggle {
    font-size: 0.9rem;
  }

  .alwan-table .pagination > div.dropdown .dropdown-menu {
    font-size: 0.8rem;
  }
}
/* ******************************************************* */
/* custom-modal */
.custom-modal {
  width: 70%;
  margin: 2rem auto;
  border: 2px solid #f3f3f3;
  border-radius: 1rem;
}
.custom-modal .modal-header {
  padding: 1rem;
}
.custom-modal .modal-body {
  padding: 1rem;
  margin: 0;
}
/* responsive for labtop screens */
@media (max-width: 1550px) {
  .custom-modal {
    width: 90%;
    margin: 1rem auto;
    border: 1px solid #f3f3f3;
    border-radius: 0.7rem;
  }
  .custom-modal .modal-header {
    padding: 0.8rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }
  .custom-modal .modal-body {
    padding: 0.8rem;
    margin: 0;
  }
}
/* ******************************************************* */
