@import './base.css';
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--body-color);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  font-family: 'tajawal-regular';
  color: var(--color-text);
}
.ar {
  direction: rtl;
}
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-text);
}
